.header-wrapper{
  width:95%;
  margin:0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header{
  width:100%;
  z-index:1000;
  position: fixed;
  background-color: rgba(13,7,26,0.7);
  min-height: 2vh;
}

header:hover{
  background-color: rgb(13,7,26);
}

header h3{
  flex-basis:33%;
  font-size:1rem;
  font-family:allura-regular, sans-serif;
  /*margin:0.25rem auto;*/
}

.title .first-name{
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.title .last-name{
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.links{
  padding: 1% 0;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-basis:33%;
}

.page-link{
  font-size: 0.6rem;
}

.auth{
  display: flex;
  justify-content: flex-end;
  flex-basis:33%;
  padding: 1% 0;
}


.auth .social-logo{
  font-size: 0.5rem;
  margin:0 3%;
}

.auth .sign-in{
  font-size: 0.45rem;
  margin:0 3%;
  letter-spacing: 0.03rem;
}

.auth .register{
  font-size: 0.45rem;
  margin:0 3%;
  letter-spacing: 0.03rem;
}
