.showcase-bg{
  padding-top: 10vh;
  padding-bottom: 10vh;
  width:100%;
  background: url("../../images/content-area.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.showcase-wrapper{
  width:90%;
  margin:0 auto 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

h4{
  font-size: 1rem;
  font-weight: 200;
  text-transform: capitalize;
}

p{
  font-size: 0.5rem;
  font-weight: 100;
  text-align: center;
}

.description{
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-one .image-one
{
  height: 35vh;
  width: 175vw;
  opacity: 0.5;
  box-shadow: 10px 10px 5px rgba(13,7,26,0.9);
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: url("../../images/camping-bonfire.jpg") no-repeat 50% 70%;
}

.content-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-two .image-two
{
  height: 45vh;
  width: 175vw;
  opacity: 0.5;
  box-shadow: -10px -10px 5px rgba(13,7,26,0.9);
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: url("../../images/camping-cooker.jpg") no-repeat 50% 47%;
}

.content-three{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-three .image-three
{
  height: 40vh;
  width: 175vw;
  opacity: 0.5;
  box-shadow: 10px -10px 5px rgba(13,7,26,0.9);
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: url("../../images/camping-drone.jpg") no-repeat 50% 40%;
}
