.dashboard{
  background: url("../../images/showcase.jpg") no-repeat;
  background-position: 30% 70%;
  background-size: cover;
  min-height: 500px;
  opacity: 0.3;
}

/*.imagecropper{
  background: url("../../images/trek.png") no-repeat;
  background-size: 104%;
  background-position: -2px -2px;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px rgb(234, 236, 238);
}*/
