.showcase-bg{
  padding-top: 10vh;
  padding-bottom: 10vh;
  width:100%;
  background: url("../../images/content-area.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.showcase-wrapper{
  width:85%;
  margin:0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

h4{
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: 200;
  border-bottom: 0.5px solid #D8E7F2;
}

p{
  padding-top: 30px;
  font-size: 0.5rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.05em;
}

.description{
  padding: 2vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-one{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-one .image-one
{
  height: 43vh;
  width: 182vw;
  opacity: 0.5;
  box-shadow: 10px 10px 5px rgba(13,7,26,0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  background: url("../../images/camping-bonfire.jpg") no-repeat 50% 70%;
  background-size:cover;
}

.content-two{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-two .image-two
{
  height: 50vh;
  width: 235vw;
  opacity: 0.5;
  box-shadow: -10px -10px 5px rgba(13,7,26,0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  background: url("../../images/camping-cooker.jpg") no-repeat 50% 47%;
  background-size:cover;
}

.content-three{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-three .image-three
{
  height: 48vh;
  width: 182vw;
  opacity: 0.5;
  box-shadow: 10px -10px 5px rgba(13,7,26,0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  background: url("../../images/camping-drone.jpg") no-repeat 50% 0%;
  background-size:cover;
}
