@font-face {
  font-family: 'custom-romanesco-regular';
  src: url('./fonts/Romanesco-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'custom-allura-regular';
  src: url('./fonts/Allura-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'custom-simplifica-regular';
  src: url('./fonts/SIMPLIFICA.ttf') format('truetype');
}

* {
  margin:0;
  padding:0;
  border:0;
}

body{
  background-color: #313147;
  font-family: custom-simplifica-regular, sans-serif;
  color:#D8E7F2;
  margin:0;
}

.container{
  width:90%;
  overflow: hidden;
  margin: 0 auto;
}
